<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Tokimon</title>
  </head>
  <body>
    <link rel="stylesheet" href="style.css">
    <div class="side-nav">
      <a href="home">Tokidex</a>
      <a href="/create">Creation</a>
      <a href="/comparison">Comparison</a>
    </div>
    <div class="display-box">
      <h1 class="logo">Creation</h1>
      <form class="creation" action="index.js" method="post">
        <input type="text" name="name" placeholder="Name" value=""> <br>
        <input type="number" min="0" name="name" placeholder="Weight" value=""> <br>
        <input type="number" min="0" name="name" placeholder="Height" value=""> <br>
        <input type="submit" value="Submit"> <br>
      </form>
    </div>
  </body>
</html>
