<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Tokimon</title>
  </head>
  <body>
    <link rel="stylesheet" href="style.css">
    <div class="side-nav">
      <a href="https://tokidex.herokuapp.com">Tokidex</a>
      <a href="https://tokidex.herokuapp.com/create">Creation</a>
      <a href="https://tokidex.herokuapp.com/comparison">Comparison</a>
    </div>
    <div class="display-box">
      <h1 class="logo">Creation</h1>
      <form class="creation" action="index.js" method="post">
        <input type="text" name="name" placeholder="Name" value=""> <br>
        <input type="number" min="0" name="weight" placeholder="Weight" value=""> <br>
        <input type="number" min="0" name="height" placeholder="Height" value=""> <br>

        <select name="element1" placeholder="Element">
          <option value="">None</option>
          <option value="grass">Grass</option>
          <option value="electric">Electri</option>
          <option value="fire">Fire</option>
          <option value="water">Water</option>
          <option value="fight">Fight</option>
          <option value="fly">Fly</option>
          <option value="ice">Ice</option>
        </select>
        <input type="number" min="0" name="power1" placeholder="Power" value="0"> <br>

        <select name="element2" placeholder="Element">
          <option value="">None</option>
          <option value="grass">Grass</option>
          <option value="electric">Electri</option>
          <option value="fire">Fire</option>
          <option value="water">Water</option>
          <option value="fight">Fight</option>
          <option value="fly">Fly</option>
          <option value="ice">Ice</option>
        </select>
        <input type="number" min="0" name="power2" placeholder="Power" value="0"> <br>

        <select name="element3" placeholder="Element">
          <option value="">None</option>
          <option value="grass">Grass</option>
          <option value="electric">Electri</option>
          <option value="fire">Fire</option>
          <option value="water">Water</option>
          <option value="fight">Fight</option>
          <option value="fly">Fly</option>
          <option value="ice">Ice</option>
        </select>
        <input type="number" min="0" name="power3" placeholder="Power" value="0"> <br>
        <input type="text" name="trainer" placeholder="Trainer" value=""> <br>
        <input type="submit" value="Submit"> <br>
      </form>
    </div>
  </body>
</html>
