<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Tokimon</title>
  </head>
  <body>
    <form action="/action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form>
    <form class="creation" action="index.js" method="post">
      <input type="text" name="name" placeholder="Name" value="">
      <input type="number" min="0" name="name" placeholder="Weight" value="">
      <input type="number" min="0" name="name" placeholder="Height" value="">

    </form>
  </body>
</html>
