ul{
  list-style-type:none;
}

#nav-list{
  display:inline;
}

.side-nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.side-nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.display-box{
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

.tokimon-pic{
  width: 200px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.tokimon-pic{
  background-color: grey;
  color: white;
  font-family: monospace, sans-serif;
  font-size: 50px;
}

.tokimon-box:hover{
  background-color: #EEEEEE;
}

.tokimon-index{
  font-family: "Arial";
  font-size: 20px;
  color: #777777;
}

.tokimon-name{
  font-family: cursive;
  font-size: 27px;
}

/*Element*/
.element-list{
  float:left;
}

.grass, .electric, .fire, .water, .fighting{
  font-family:monospace;
  padding: 5px;
  color: black;
  background-color: grey;
}

.grass{
  background-color: green;
}

.electric{
  color: black;
  background-color: yellow;
}

.fire{
  background-color: red;
}

.water{
  background-color: blue;
}
